@use "../../foundation/"as f;

.widget_nav_menu {
    li {
        margin-bottom: 22px;
    }

    .menu {
        font-size: 2.4rem;
        font-family: f.$font--Mplus-Bold;
        margin-left: 14%;
    }

    .sub-menu {
        padding: 39px 7% 17px;
        font-size: 2.0rem;
        font-family: f.$font--Mplus;
    }
}